#form_wizard fieldset[data-active='true']{display:block}
#form_wizard fieldset,#form_wizard fieldset[data-active='false']{display:none}
.pagination-top {display:flex; flex-direction:row; justify-content:center; line-height:40px}
.pagination-top li a{display:flex; flex-direction:row; padding:0 10px;  }
.pagination-top li a.active{opacity:1}
.pagination-top li a.disable{opacity:0.5; pointer-events: none;}
.pagination-top li a.done{color:blue; opacity:1}

.continue_btn.disabled{opacity:0.5}
.pagination-top li a .step{display:none}
.pagination-top li a.disable.done{pointer-events: auto;}
.pagination-top .active{border-color:#000000;}

h4{margin-bottom:20px;}
 button.disabled{pointer-events: auto;} 
 label.error{color:red}
 input.error{border:solid 1px red}
 .pagination-top .count{background:#f4f4f4; border-radius:40px; display:block; width:40px; height:40px; text-align:center; line-height:32px; margin-right:10px; border:solid 2px #fff}
  .pagination-top  .done .count{background:green; color:#fff}
  .pagination-top .active .count{border-color:black}